<!DOCTYPE html>
<html>
  <head>
    <title>Policy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user.present? %>

      <h1>Menu</h1>
      <ul>
        <li><%= link_to 'Usuários', users_path %></li>
        <li><%= link_to "Sair (#{current_user.email})", destroy_user_session_path, method: :delete %></li>
      </ul>

      <hr>

    <% end %>

    <%= yield %>
  </body>
</html>
